/* Stili base */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('sanliuk_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #9be0fe;
  background-color: rgb(43, 43, 43);
}

/* Sezione home */
.home {
  text-align: center;
  padding: 20px;
  background-color: rgb(229, 255, 0);
}

.home-gif {
  top: 10px; /* Spazio dall'alto. Ajusta come necessario */
  width: 50px; /* Ajusta secondo le dimensioni della tua GIF */
  justify-content: center;
  border-radius: 20%;
}

.home h1 {
  margin: 0;
  border-radius: 10px;
  padding: 10px;
}

.home h1 a {
  color: #fff;
  text-decoration: none;
}

.home h1 a:hover {
  color: #000000;
}


/* Container centrale */
.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: rgba(0, 0, 0, 0.7); /* Sfondo nero traslucido */
  padding: 20px;
  border-radius: 10px;
}

/* Titoli */
h1, h2 {
  text-align: center;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
}

h3{
  color: rgb(255, 226, 35);
  text-align: center;
}

/* Paragrafi */
p {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
}

img {
  max-width: 100%; /* Questo garantirà che l'immagine non superi la larghezza del suo contenitore. */
  display: block; /* Centra l'immagine orizzontalmente */
  margin: 20px auto; /* Aggiunge un margine sopra e sotto l'immagine e la centra orizzontalmente. */
}

/* Stile per i video incorporati */
.container iframe {
  width: 100%;
  max-width: 560px;
  margin: 20px 0;
}

/* Link */
a {
  color: #ffe204;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: aqua;
}
